
<button class="addbutton" (click)="openBookingPopup()">Book Meeting</button>
<app-book-meeting *ngIf="showPopup" (closePopup)="closeBookingPopup()"></app-book-meeting>
<div class="main-container">
    <h2>Upcoming Meetings</h2>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Username</th>
                <th>Agenda</th>
                <th>Date</th>
                <th>Time</th>
                <th>Room</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meeting of upcomingMeetings; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ meeting.username }}</td>
                <td>{{ meeting.agenda }}</td>
                <td>{{ meeting.meetingDate }}</td>
                <td>{{ meeting.startTime }} - {{ meeting.endTime }}</td>
                <td>{{ meeting.roomNumber }}</td>
                <td>
                    <a href="#" (click)="deleteMeeting(i)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="main-container">

    <h3>Rooms Meeting Details</h3>
    <label for="roomFilter">Filter by Room:</label>
    <select id="roomFilter" (change)="filterMeetingsByRoom($event)">
        <option value="">All</option>
        <option *ngFor="let room of getRoomSlot()" [value]="room">{{ room }}</option>
    </select>

    <div *ngFor="let room of filteredRooms">
        <h4>Room {{ room }}</h4>
        <table>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Username</th>
                    <th>Agenda</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let meeting of meetingsByRoom[room]; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ meeting.username }}</td>
                    <td>{{ meeting.agenda }}</td>
                    <td>{{ meeting.meetingDate }}</td>
                    <td>{{ meeting.startTime }} - {{ meeting.endTime }}</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>